@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
  --background: oklch(0.985 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: #1c1f26;
  --primary-foreground: #ffffff;
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: #9ca3af;
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: #a7ff2f;
  --accent-foreground: #1c1f26;
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0.001 106.423);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --alert: #ff6240;
}

.dark {
  --background: #1c1f26;
  --foreground: #ffffff;
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: #1c1f26;
  --primary-foreground: #ffffff;
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: #a7ff2f;
  --accent-foreground: #1c1f26;
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0.001 106.423);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
